.groupWrapper{
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;

  width: 100%;

  padding-top: 20px;
}

.groups{
  flex-direction: column;
  align-items: center;
  display: flex;
  
  margin-bottom: 15px;
  width: 40%;
}

.group {
  flex-direction:row;
  overflow: hidden;
  display:flex;
  
  background: linear-gradient(180deg, rgba(var(--ion-color-primary-tint-rgba)) 0%, rgba(var(--ion-color-primary-rgba)) 38%, rgba(var(--ion-color-primary-shade-rgba)) 100%);
  background: var(--ion-color-primary-tint);
  
  height: 180px;
  width: 100%;
  
  border-radius:15px
}

.backgroundText{
  position: absolute;
  overflow: hidden;

  color: rgba(var(--ion-color-medium-rgba));
  
  line-height: 80px;
  max-height: 80px;
  font-size: 80px;
  max-width: 40%;
}

.text{
  color: var(--ion-color-light);
  text-align: center;
}

.title{
  font-weight: bold;
  font-size: 20px;

  margin-top: 15px;
  margin-left: 5px;
  margin: 0;
}

.subtitle{
  margin-left: 5px;
  margin:0;
}