<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 30px;">
      Assemble
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 10px;" >
    <ion-fab-button (click)="addGroup()" >
      <ion-icon style="font-size: 30px;" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="groupWrapper">
    <div class="groups" *ngFor="let grpParticipant of grpParticipants">
        <div class="group" (click)="openRoom(grpParticipant.Group.Id)">
          <p class="backgroundText">{{grpParticipant.Group.Name}}</p>
          <div class="text">
            <p class="title">{{grpParticipant.Group.Name}}</p>
            <p class="subtitle">{{grpParticipant.Group.Description}}</p>
          </div>
        </div>
    </div>
  </div>
  
</ion-content>
