<div class="container">
  <ion-label class="label" position="stacked">Name</ion-label>
    <ion-input class="input" placeholder="eg.Class" type="text" [(ngModel)]="roomName"></ion-input>
    <ion-label class="label" position="stacked">Activities</ion-label>
    <ion-input class="input" placeholder="eg.Lecture, Attendance" type="text" [(ngModel)]="activity" (keyup.enter)="addActivity()"></ion-input>
  <ion-chip class="chipParent" (click)="deleteActivity(activityChip)" mode="ios" *ngFor="let activityChip of activityList">
    <ion-label>{{ activityChip }}</ion-label>
    <ion-icon name="close-circle" ></ion-icon>
  </ion-chip>
<div>
<p style="text-align: center;color: #ffffff40;margin: 0;font-size: 15px;">Press enter to add the activity</p>