<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
    <p class="label">Username</p>
  <ion-input autocapitalize=words 
            placeholder="ex: Class" 
            class="input" 
            type="text" 
            (ngModelChange)="username = $event.toLocaleLowerCase()"
            [(ngModel)]="username">
  </ion-input>
    <!-- <ion-label position="stacked">Username</ion-label>
    <ion-input type="text" [(ngModel)]="username" (ngModelChange)="username = $event.toLocaleLowerCase()"></ion-input> -->
    <p style="color: red;margin-bottom: 10px;" *ngIf="errorMssg!=''">{{errorMssg}}</p>
      <p (click)="register()" class="button">Dive in</p>
  </div>
  
</ion-content>
