p{
    margin:0
}

.container{
    padding: 15px;
    width: 85%;
    margin-top: 5%;
    margin-left: 7.5%;
    border-radius: 15px;
    background-color: #171717;
}
.label{
    color:#ffffff !important;
    font-size: 20px;
    margin-left: 20px;
}

.input{
    font-size: 17px;
    margin-left: 20px;
    color: #ccc8c8;
}

.desc{
    // height: 20vh;
}

.chipParent{
    background-color: #dd01cb;
}
