<!-- <ion-item>
  <ion-label class="label" position="stacked">Name</ion-label>
  <ion-input class="input" type="text" [(ngModel)]="groupName"></ion-input>
</ion-item>
<ion-item>
  <ion-label class="label" position="stacked">Description</ion-label>
  <ion-input class="input" type="text" [(ngModel)]="description"></ion-input>
</ion-item> -->
<div class="container">
  <p class="label">Group Name</p>
  <ion-input autocapitalize=words placeholder="eg.Family" class="input" type="text" [(ngModel)]="groupName"></ion-input>
  <p class="label">Description</p>
  <ion-textarea autocapitalize=words rows="5" placeholder="eg.Describe your group" class="input desc" type="text" [(ngModel)]="description"></ion-textarea>
</div>
